<div>{{ articleTitle }}</div>
<div>
  <textarea cols="45">
    {{ articleContent }}
  </textarea>
</div>
<div>
  <p>Comments to article:</p>
  <div style="background-color: grey; width: 400px; height: 30px; padding-top: 10px;">
    <button style="display: inline;" (click)="getPreviousPage()" [disabled]="previousBtnDisabled">previous</button>
    <p style="display: inline; color: white;">{{ pageNumber }}</p>
    <button (click)="getNextPage()" style="display: inline;" [disabled]="nextBtnDisabled">next</button>
    <p style="display: inline; color: white;">Navigate to page:</p>
    <input type="text" size="5" [(ngModel)]="srecificPageNumber">
    <button (click)="getSpecificPage(srecificPageNumber)" style="display: inline;">Go!</button>
  </div>
</div>
<div style="position: relative; background-color: black; width: 400px; padding-left: 20px;" *ngFor="let Comment of displayedComments">
  <div style="position: absolute;
              width: 20px;
              top:50px;
              left: 0px;
              padding-left: 3.5px;
              padding-top: 1px;
              border-radius: 10px;
              box-sizing: border-box;
              background-color: red;" *ngIf="Comment.getUIOffset() == null">
    X
  </div>
  <!--<div style="width:100%; background-color: grey;">-->
  <div [ngStyle]="{'width': '100%','background-color':'grey', 'margin-left': Comment.getUIOffset()*20 + 'px'}">
    <p style="color: white;">{{Comment.userName}} wrote:</p>
    <textarea rows="10" cols="45" disabled="disabled">{{Comment.messageText}}</textarea>
    <div>
      <span style="color: yellow;">id: {{Comment.commentID}}</span>
      <span style="color: yellow;">parent id: {{Comment.parentID}}</span>
    </div> <!--style="display: none;"-->
    <button (click)="annotateComment(Comment.commentID)">Annotate</button>
    <div style="background-color: black; width: 400px;" *ngIf="choosenCommentId == Comment.commentID">
      <textarea rows="10" cols="45" [(ngModel)]="Comment.annotationText"></textarea>
      <div>
        <p style="display: inline; color: white;">Your name:<input type="text" size="10" [(ngModel)]="Comment.annotatingUser"></p>
        <button (click)="sendComment(Comment.commentID)">Send</button><button (click)="cancelAnnotation()">Cancel</button>
      </div>
    </div>
  </div>
</div>
<div style="background-color: blue; width: 400px; padding-left: 20px;">
  <textarea rows="10" cols="45" [(ngModel)]="globalCommentMessage">Comment</textarea>
  <div>
    <p style="display: inline; color: white;">Your name:<input type="text" size="10" [(ngModel)]="globalCommentUser"></p>
    <button (click)="sendComment(0)">Send</button>
  </div>
</div>
