<div>{{ searchTitle }}</div>
<div style="background-color: grey; width: 400px;">
  <p style="color: white;">Input a search predicate:</p>
  <textarea rows="10" cols="45" [(ngModel)]="searchPredicate"></textarea>
  <div>
    <p style="display: inline;">By user name</p>
    <input type="radio" [(ngModel)]="searchType" value="username">
    <p style="display: inline;">By text in comment</p>
    <input type="radio" [(ngModel)]="searchType" value="commenttext">
  </div>
  <button (click)="searchComments(searchPredicate, pageNumberSearch)" style="display: inline;">Search!</button>
</div>
<p>Result comments:</p>
<div style="background-color: grey; width: 400px; height: 30px; padding-top: 10px;">
  <button style="display: inline;" (click)="getPreviousPageSearch()" [disabled]="previousBtnDisabled">previous</button>
  <p style="display: inline; color: white;">{{ pageNumberSearch }}</p>
  <button (click)="getNextPageSearch()" style="display: inline;" [disabled]="nextBtnDisabled">next</button>
</div>
<div style="background-color: grey; width: 400px; border-bottom: 4px solid white;" *ngFor="let Comment of displayedComments">
  <p style="display: inline; color: white;">{{Comment.userName}} wrote:</p>
  <button style="display: inline; margin-left: 40px;" (click)="openDialogBranch(Comment.commentID)">Open dialog branch</button>
  <textarea rows="10" cols="45" disabled="disabled">{{Comment.messageText}}</textarea>
  <div>
    <span style="color: yellow;">id: {{Comment.commentID}}</span>
    <span style="color: yellow;">parent id: {{Comment.parentID}}</span>
  </div>
</div>
<div style="display: block;
            position: fixed;
            width: auto;
            max-height: 600px;
            top: 10px;
            left: 20px;
            background-color: grey;
            border: 2px solid black;
            overflow: scroll;"
            *ngIf="dialogID">
            <div>
              <p style="display: inline; color: white;">
                Comment
                <span style="color: yellow;">{{ dialogID }}</span>
                conversation
              </p>
              <button style="display: inline; float:right;" (click)="closeDialogBranch()">Close</button>
            </div>
            <div>
                <button style="display: inline;" (click)="getPreviousPageDialog()" [disabled]="previousBtnDialogDisabled">Previous</button>
                <p style="display: inline; color: white;">{{ pageNumberDialog }}</p>
                <button style="display: inline;" (click)="getNextPageDialog()" [disabled]="nextBtnDialogDisabled">Next</button>
            </div>
            <div style="position: relative; background-color: black; width: 400px; padding-left: 20px; border-bottom: 4px solid white;" *ngFor="let Comment of dialogComments">
              <div style="position: absolute;
                          width: 20px;
                          top:50px;
                          left: 0px;
                          padding-left: 3.5px;
                          padding-top: 1px;
                          border-radius: 10px;
                          box-sizing: border-box;
                          background-color: red;" *ngIf="Comment.getUIOffset() == null">
                X
              </div>
              <div [ngStyle]="{'width': '100%','background-color':'grey', 'margin-left': Comment.getUIOffset()*20 + 'px'}">
                <p style="display: inline; color: white;">{{Comment.userName}} wrote:</p>
                <textarea rows="10" cols="45" disabled="disabled">{{Comment.messageText}}</textarea>
                <div>
                  <span style="color: yellow;">id: {{Comment.commentID}}</span>
                  <span style="color: yellow;">parent id: {{Comment.parentID}}</span>
                </div>
              </div>
</div>
